<div class="beer">
    <img  width="80" src="{{image_url}}" alt="{{name}}">
    <!-- <a href="/beers/{{id}}"></a><p>{{name}}</p> -->
    <h3>{{ name }}</h3>
    <p class="tagline">{{ tagline }}</p>
    <p>{{ description }}</p>
</div>